<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/aboutus.css">
</head>
<body>

    <header >

        <img src="../static/images/logouis.png" alt="">
        <img class="logo_welloga" src="../static/images/logo.png" alt="">

    </header>

    <main>

        <section class="creators"> 

            <h2>(Well log analyzer)</h2>
            <br>
            <br>
            <h1>Presentado por:</h1>
            <br>
            <h1>Mary Diaz Montalvo - 2191167</h1>
            <h1>Daniel Pinto Ortega - 2190558</h1>
            <br>
            <br>
            <h1>Presentado a:</h1>
            <br>
            <h1>PhD. Maika Karen Gambus Ordaz</h1>
            <br>
            <br>
            <br>
            <br>
            <h1>Entregado:</h1>
            <h3>16/03/2022</h3>
            <br>
            <br>
        </section>

        <section class="problema">
            <br>
            <h1>PLANTEAMIENTO DEL PROBLEMA</h1>
            <br>
            <br>
            <p>
                Para realizar las diferentes operaciones en un campo petrolero (exploración,
perforación, seguimiento), es de suma importancia conocer la litología del
subsuelo, por lo que existen diferentes métodos para obtener una idea o
estimación de las formaciones presentes en el subsuelo, uno de ellos es la
toma de registros de pozos, el cual es muy utilizado en la actualidad, pues
brindan datos relevantes y su costo es menor comparado con otros métodos
como la toma de núcleos. Estos registros miden características como la
radiactividad natural de las rocas, lo que se puede interpretar y en base a ello,
obtener una descripción litológica del área de interés. El proceso de
interpretación es trascendental para la toma de decisiones ya sea en campo o
para dar inicio a un proyecto, por lo que es imprescindible no cometer errores
en el proceso; pero a pesar de tener claro lo dicho, no estamos exentos de
cometer estos errores, ya que pueden darse debido a las diferentes
estimaciones que se deben realizar en las graficas obtenidas de los datos que
proporcionan los registros, así como también al momento de la corrección de
los datos; es por esto que se plantea un programa con el que se pueda
disminuir cualquier error humano al momento de realizar las curvas y
correcciones a partir de los datos numéricos obtenidos de los registro, y así se
pueda tener una interpretación acertada, además de optimizar el tiempo
empleado regularmente para ello, esto puede representar una ventaja para los
estudiantes al momento de poner en práctica los fundamentos de cada registro.
            </p>
            <br>
            <br>
            <br>

        </section>
        <section class="objetivos">

            <h1>OBJETIVOS</h1>
            <br>
            <br>
            <h2>General</h2>
            <br>
            <br>
            <ul>
                <li>Reducir el tiempo de trabajo y los errores que se puedan cometer
                    durante la corrección de los datos obtenidos del registro Gamma Ray y
                    el cálculo del Vshale.</li>
            </ul>
            <br>
            <br>
            <h2>Específicos</h2>
            <br>
            <br>
            <ul>
                <li>Corregir los datos numéricos obtenidos de la toma de los registros.</li>
                <br>
                <li>Generar gráficos de los datos obtenidos de los registros de pozo
                    tomados en campo.</li>
                <br>
                <li>Generar gráficos a partir de los datos corregidos.</li>
            </ul>

        </section>

        <section class="Recursos">

            <h1>RECURSOS</h1>
            <br>
            <br>
            <br>
            <br>
            <h1>Correcciones</h1>
            <br>
            <br>
            <p>Todas las correcciones que realiza el programa se basan en el libros de charts de SLB 2009.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>Página</h1>
            <ol>
                <li>
                    Front End:
                    Para el front se utilizaron tecnologías como:
                    <ul>
                        <li>HTML.</li>
                        <li>CSS.</li>
                        <li>JavaScript.</li>
                    </ul>
                </li>
                <br>
                <br>
                <li>
                    Back End:
                    <ul>
                        <li>Flask.</li>
                    </ul>
                </li>
            </ol>


        </section>


    </main>
    
</body>
</html>